
.main {    
    line-height: 1.5;
    max-width: 1000px;
    margin: auto;
}

.name {
    display: flex;
    justify-content: center;
    margin: 50px;
}

/*first container*/
.wrapper{
    padding: 5%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: #F4F5F5;
}

.wrapper dt{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}



/*second container*/
.team{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 5%;
    background-color: #F4F5F5;
}

.team img {
    vertical-align:middle;
    border-radius: 50%;
    max-width: 200px;
    height: 200px;
    filter: grayscale(100%);
}

.team div{
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.team .v{
    margin-top: 0px;
}

.team dl{
    padding: 50px;
}

.team dt{
    padding: 20px;
    padding-left: 0;
    font-size: 1.2em;
    font-weight: bold;
}


/*mobile view*/
@media screen and (max-width:767px){
    .name{
        font-size: 1.2em;
        margin: 20px;
        margin-top: 50px;
    }
    
    
    .wrapper dt{
        font-size: 1em;
    }
    
    .team{
        margin-bottom: 50px;
    }
    
    .team div{
        flex-direction: column;
        justify-content:flex-end;
        margin: 10px;
    }
    
    div .h, 
    div .h dl, 
    div .h dd{
        flex-direction: column;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    
    .team img{
        max-width: 150px;
        height: 150px;
    }
    
    .team dl{
        padding: 0px;
    }
    
    .team dt{
        display: none;
    }
    
    .team dd{
        padding: 20px;
        margin-left: 0;
    }
    
    .team span{
        font-weight: bold;
    }
    

}
