h1 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #2a2a2a;
}

.requestInput{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.para {
    font-family: helvetica;
    font-weight: bold;
    text-align: center;
    color: #2a2a2a;
    }

  #crimeInput{
    display: flex;
    justify-content: center;
    text-align: center;
    margin:auto;
    padding: 5px;
    margin-bottom: 2%;
  }

#addTypebtn{
      width: 50px;
      height: 35px;
      background-color: #6E9C48;
    color: #fefefe;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 #3C4F2C
}
