
section{
    height: 70vp;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    margin-bottom: 20px;
    text-align: center;
}
p.a {
    margin-bottom: 50px;
    font: 16px Helvetica;
    text-align: center;
    max-width: 540px;
  }

form{
    width: 90%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: #EDDDF5;
    border-radius: 8px;
    margin-bottom: 20px;
}
.form-group{
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.form-group input,
.form-group textarea{
    padding: 4px;
    font-size: 16px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    background-color: #fefefe; 
    margin-top: 5px;
}
textarea{
    resize: vertical;
}



button[type="submit"]{
    border: none;
    outline: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 8px;
    font-family: "Helvetica";
    color: #2a2a2a;
    background-color: #AE8FD9;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .3s ease background;
}
button[type="submit"]:hover{
    background-color: #9D82C4;
    color: #e0ffff;
}
ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

