body{
    margin: 0;
    font-size: 14pt;
    font-family: "Helvetica";
    color: #2a2a2a;
}

/************nav section*************/
.nav {
    display: flex;
    background-color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 120%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

/*hamburger menu button*/
.hamburger{
    border: 0;
    background-color: transparent;
    font-size: 30px;
    color: black;
    cursor: pointer;
    margin: 20px;
    display: none;
}

.hamburger:focus{
    outline: none;
}

.menu{
    display: flex;
    list-style-type: none;
}

.menu li{
    display: flex;
    align-items:flex-end;
}

.menu li a{
    text-decoration: none;
    color:black;
    padding-right: 20px;
}
  
.menu li a:visited {
    text-decoration: none;
    color:black;
}
  
.menu li a:hover {
    color:rgb(167, 167, 167);
}

.menu li a:active {
    color:gray;
}

.menu li a.highlightCurrentPage {
    color:gray;
}

/*main logo*/
.nav .navlogo{
    width: auto;
    height: 100px;
    margin: 20px;
}




/************* style for footer***********/
.footer-distributed {
    display: flex;
    align-items: center;
    justify-content: space-between;
  background-color:#97679B;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 25px 55px;
  margin-top: 5%;
  font-family: helvetica;
}

.footer-distributed p {
  color: #d4d4d4;
  font-size: 14px;
  margin: 0;
}

.footer-distributed img {
    max-width: 32px;
    height: 32px;
}

/*footer img change when hover*/
.footer-distributed a:hover{
    transform:scale(1.2); 
    -webkit-transform:scale(1.2);
}




/*Mobile View*/
@media screen and (max-width:767px){
    .menu{
        display: none;
        width: 100%;
    }
    .menu li a{
        padding-right: 0;
        padding-top: 20px;
    }

    .menu.show{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .hamburger{
        display: block;
    }
    
    h1{
        font-size: 25px;
    }
    
    
    /*footer*/
    .footer-distributed{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    
    .footer-distributed img{
        padding-top: 5px;
    }

}